/* === Campus Page === */

/* Hero Section */

#hero {
    background-image: url(../images/campussample.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#herotitle {
    color: #ffffff;
    font-family: var(--font-family);
    line-height: 1.5em;
    letter-spacing: 1.5px;
    font-size: 3.3em;
    text-shadow: 0 0 20px black;
    -webkit-text-stroke: 1px black;
}

.coolangle {
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: white;
}

#angleherotop {
    top: 51px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 10%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#angleherobot {
    top: 80.5vh;
    border-top-left-radius: 100%;
    border-top-right-radius: 10%;
    box-shadow: 0px -7px 10px rgba(0,0,0,0.2);
}

/* Info Section */

.cardtitle {
    font-family: var(--font-family);
    text-shadow: 0 0 var(--shadow-blur) var(--shadow-color);
    font-size: x-large;
}

.carddesc {
    font-family: var(--font-family);
    font-size: large;
    margin: 0 25px 15px 25px;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 var(--shadow-blur) var(--shadow-color);
    border: 1px solid black;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    -webkit-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -moz-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -ms-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -o-border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#info {
    width: 80%;
    min-height: 300px;
    margin: 7% 10%;
    display: flex;
    justify-content: center;
}

#infocard {
    display: flex;
    align-items: center;
    justify-content: center;
}

#infocardcontent {
    width: 50%;
}

#libraryimg {
    background: url("../images/library.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}