/* == Init == */

body {
  margin: 0px;
  background-color: black;
}

#firstanim {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  animation-name: load;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes load {
  0% {
    background-color: rgba(255, 255, 255, 1);
  }
  99% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    visibility: hidden;
  }
}

/* == Hero == */

#logodiv {
  background-color: black;
  text-align: center;
}

#logo {
  margin: 15px;
  height: auto;
  width: 80px;
}

#pic {
  height: auto;
  width: 100%;
}

/* Hero Title */

#headline {
  text-align: center;
  margin-top: -20%;
}

#herotitle {
  color: white;
  font-weight: bold;
  /* font-size: 1.4em; */
}

#herospan {
  background-color: rgba(255,255,255,0.3);
  padding: 2px 4px;
  border-radius: 10px 0px 10px 0px;
}

/* == Intro == */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Info nav */

#infonav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbtn {
  background: linear-gradient(-45deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.2));
  background-size: 200% 200%;
  background-position: 0% 0%;
  border-width: 0px;
  border-radius: 20px;
  height: 30px;
  width: 85px;
  color: white;
  font-size:medium;
  font-weight: bold;
  animation-name: hoverbtnrev;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.navbtn:hover {
  animation-name: hoverbtn;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
}



.navbtn:active {
  background-color: rgba(255,255,255,0.4);
}

@keyframes hoverbtn {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes hoverbtnrev {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Info */

#info {
  background-color: rgba(255, 255, 255, 0.4);
  height: 250px;
  width: 80%;
  padding: 2% 5%;
  border-radius: 20px;
  align-self: center;
  margin: 20px;
}

.infoheader {
  color: white;
}

